#top{
    border-style:groove;
    border-color: darkred;
    border-width: 6px;
    width: 600px;
    margin-left: 200px;
    margin-top: 50px;
    padding-left: 400px;
    background-color: darkkhaki;
    font-family: 'Berkshire Swash', cursive;


}

#bottom{
    border-style:groove;
    border-color: darkgreen;
    border-width: 6px;
    width: 600px;
    margin-left: 200px;
    margin-top: 300px;
    padding-left: 400px;
    background-color: yellowgreen;
    font-family: 'Berkshire Swash', cursive;


}

h1{

    font-family: 'Permanent Marker', cursive;
    font-size:1.2cm;
    text-align: center;
}