h1{
text-align: center;
font-family: 'Permanent Marker', cursive;
}

table{
    
    margin: auto;
    border-spacing:10px;
}
td{
    height: 500px;
    padding: 100px;


}
#one{
    background-color: #247ba0;
}
#two{
    background-color: #70C1B3;
}
#three{
    background-color: #B2DBBF;
}
#four{
    background-color: #F3FFBD;
}
#five{
    background-color: #FF1654;
}